/* @import "~antd/dist/antd.css"; */

/* GLOBAL */

* {
  font-family: helvetica, arial;
  letter-spacing: 0.1px;
}

body {
  width: 100%;
}

button:active {
  transform: translateY(1px);
  box-shadow: none;
  outline: none;
}

ul {
  list-style-type: none;
}

/* LOGIN/REGISTER */

.login-register {
  width: 100%;
  display: flex;
  min-height: 789px;
  margin: 0 auto;
  background-image: url("https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?cs=srgb&dl=pexels-pixabay-247599.jpg&fm=jpg");
  background-size: cover;
}

.login-register-body {
  background: rgba(255, 255, 255, 0.884);
  width: 40%;
  height: 325px;
  padding-top: 28px;
  position: relative;
  top: 225px;
  left: 31%;
  border-radius: 5px;
  box-shadow: 15px 20px 25px rgba(0, 0, 0, 0.16),
    15px 20px 25px rgba(0, 0, 0, 0.23);
}

.login-register-body-reg {
  background: rgba(255, 255, 255, 0.884);
  width: 40%;
  height: 450px;
  padding-top: 32px;
  position: relative;
  top: 175px;
  left: 31%;
  border-radius: 5px;
  box-shadow: 15px 20px 25px rgba(0, 0, 0, 0.16),
    15px 20px 25px rgba(0, 0, 0, 0.23);
}

.authForm {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 8% auto;
}

.login-reg-input {
  width: 80%;
  height: 38px;
  outline: none;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  font-size: 18px;
  text-indent: 10px;
}

.login-logo {
  position: relative;
  left: 46px;
}

.login-reg-buttons {
  border: none;
  width: 200px;
  padding: 5px 10px;
  background: lightgreen;
  margin: 5px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
}

.login-reg-buttons a {
  color: darkslategrey;
}

/* DASHBOARD */

.header {
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 1;
  background: white;
}

#nav-bar {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  font-size: 17px;
  padding-right: 50px;
  position: relative;
  top: 55%;
  background: white;
}

.header span {
  font-size: 15px;
  color: darkslategrey;
}

.name-logo {
  position: relative;
  right: 265%;
  color: darkslategrey;
  font-size: 30px;
  letter-spacing: 1px;
  outline: none;
}

.fake-logo {
  border: none;
  background: rgba(108, 213, 108, 1);
  height: 50px;
  width: 50px;
  border-radius: 75%;
  position: relative;
  right: 66%;
  bottom: 17px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  outline: none;
}

.main {
  min-height: 1430px;
  width: 100%;
  height: 100%;
}

.dashboard-header {
  height: 645px;
  margin: 0 7%;
  background-image: url("https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  position: relative;
  top: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.welcome-header {
  font-size: 90px;
  position: relative;
  width: 80%;
  top: 22%;
  left: 9%;
  color: darkslategrey;
  text-shadow: 1px 1px grey;
}

.add-goal-button {
  width: 30%;
  height: 25%;
  position: relative;
  top: 25%;
  left: 17%;
  font-size: 30px;
  border: none;
  background: darkslategrey;
  color: rgb(197, 244, 197);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.add-goal-button:active {
  outline: none;
}

.add-goal-button:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: darkslategrey;
  background: rgba(108, 213, 108, 1);
}

.motivation-quote {
  font-size: 17px;
  width: 29%;
  position: relative;
  left: 60%;
  top: 13%;
  text-align: right;
  font-style: italic;
  color: darkslategrey;
}

.dashboard-start-goal {
  position: relative;
  top: 70px;
  left: 11%;
  width: 275px;
  height: 45px;
  background: rgba(108, 213, 108, 1);
  outline: none;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.lets-make-progress {
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
}

.dashboard-view-goal {
  position: relative;
  bottom: 76px;
  left: 70%;
  width: 275px;
  height: 44px;
  background: rgba(108, 213, 108, 1);
  outline: none;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.contact-area {
  position: fixed;
  z-index: 2147483003;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: darkslategrey;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0 5px 10px rgba(0, 0, 0, 0.23);
}

.contact-area:active {
  transform: translateX(1px);
  box-shadow: none;
}

.contact-icon {
  position: relative;
  color: white;
  left: 22px;
  top: 22px;
}

#goalGrid {
  width: 75%;
  margin: 0 5% 5% 14%;
  display: flex;
  flex-wrap: wrap;
}

#goalGrid .goalCard {
  height: 260px;
  width: 31%;
  margin: 1%;
  color: black;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
}

a.goalCard:link,
a.goalCard:visited,
a.goalCard:hover,
a.goalCard:active {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 20px;
}

.dashboard-footer {
  height: 85px;
}

/* GOAL PAGE */

#goalHeader {
  display: flex;
  justify-content: space-between;
  margin: 2.5% 10%;
  width: 80%;
}

#entryContainer {
  display: inline-flex;
  width: 80%;
  margin: 0 10% 2.5%;
  align-items: center;
}

#entries {
  display: inline-flex;
  overflow-x: scroll;
  width: 80%;
  margin: 0 10% 2.5%;
  align-items: center;
}

.entryIcons {
  display: flex;
  justify-content: space-around;
}

.inputEntryCard {
  width: 40%;
}

.inputTaskCard {
  width: 35%;
}

.override.entryCard {
  min-width: 20%;
}

.addEntryButton {
  position: relative;
  left: 85%;
  top: 20px;
  z-index: 1;
}

#goalFooterContent {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 2.5% 10% 2.5%;
  justify-content: center;
}

#accordianContainer {
  width: 100%;
  height: 270px;
  overflow-y: scroll;
  /* margin: 5% 10%; */
}

.taskInput {
  display: inline-flex;
  width: 35%;
}

.checkboxGroup {
  display: flex;
  flex-flow: column;
}

/* Onboarding modal */

.onboarding-container {
  width: 100%;
  height: 100%;
}

.onboarding-steps {
  width: 92%;
  position: relative;
  left: 4%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.onboarding-body {
  width: 80%;
  margin: 0 auto;
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.8);
}

.ant-modal-content {
  height: 600px;
  overflow: hidden;
}

.ant-modal-header {
  height: 10%;
  text-align: center;
  background: rgb(108, 213, 108);
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.ant-modal-body {
  height: 80%;
}

.ant-modal-footer {
  height: 10%;
}

.ant-modal-title {
  font-size: 28px;
}

/* .ant-steps-item-process .ant-steps-item-icon,
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon,
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: rgba(108, 213, 108, 1);
  border: none;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: rgba(108, 213, 108, 1);
}

.onboarding-steps path {
  color: rgba(108, 213, 108, 1);
} */

.onboarding-body textarea {
  width: 70%;
  position: relative;
  top: 60px;
  left: 15%;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
}

#onboard-tasks textarea {
  width: 45%;
  position: relative;
  top: 60px;
  left: 5%;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.onboarding-body textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 16px;
}

.onboarding-buttons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 100px;
  margin-right: 30px;
}

.onboard-tasks-buttons {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
  left: 18px;
}

.onboarding-buttons button {
  margin-left: 20px;
  width: 140px;
  height: 32px;
  border: none;
  background: #1890ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-tasks-button1 {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 345px;
  height: 32px;
  border: none;
  background: rgba(108, 213, 108, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

.add-tasks-button1:active {
  transform: translateY(2px);
  box-shadow: none;
}

.add-tasks-button2 {
  position: relative;
  left: 20px;
  top: 3px;
  width: 165px;
  height: 32px;
  border: none;
  background: rgb(250, 78, 78);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

.add-tasks-button3 {
  position: relative;
  bottom: 29px;
  left: 200px;
  width: 165px;
  height: 32px;
  border: none;
  background: #1890ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

.onboarding-questions {
  position: relative;
  top: 35px;
  font-size: 24px;
}

.tasks-ul {
  width: 45%;
  height: 280px;
  overflow-y: auto;
  padding-top: 10px;
  position: relative;
  left: 52%;
  bottom: 150px;
  background: rgba(108, 213, 108, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tasks-li {
  width: 106%;
  font-size: 18px;
  min-height: 30px;
  padding: 5px 5px 0 7px;
  border-radius: 2px;
  background: white;
  margin-bottom: 10px;
  position: relative;
  right: 30px;
}

.hide-background {
  width: 45%;
  height: 280px;
  position: relative;
  left: 52%;
  bottom: 150px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#timeframe-question-date {
  margin-left: 55px;
}

.onboarding-date-picker {
  position: relative;
  top: 40px;
  left: 400px;
  padding: 10px;
  width: 300px;
  height: 61px;
  background: rgba(108, 213, 108, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.onboarding-date-picker input {
  width: 237px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

#timeframe-question-time {
  position: relative;
  top: 64px;
  left: 180px;
}

#timeframe-buttons {
  position: relative;
  top: 120px;
}

.onboarding-time-picker {
  position: relative;
  top: 70px;
  left: 65px;
  padding: 10px;
  width: 300px;
  height: 61px;
  background: rgba(108, 213, 108, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.onboarding-time-picker input {
  width: 237px;
  height: 27px;
  font-size: 24px;
  text-align: center;
}

.confirm-form-body {
  position: relative;
  top: 50px;
  left: 20px;
  font-size: 16px;
}
