/* @import "~antd/dist/antd.css"; */

/* GLOBAL */

* {
  font-family: helvetica, arial;
}

body {
  width: 100%;
}

/* LOGIN/REGISTER */

.login-page-div {
  overflow: hidden;
}

.login-register {
  width: 100%;
  display: flex;
  min-height: 789px;
  margin: 0 auto;
  background-image: url("https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?cs=srgb&dl=pexels-pixabay-247599.jpg&fm=jpg");
  background-size: cover;
}

.login-register-body {
  background: rgba(255, 255, 255, 0.884);
  width: 40%;
  height: 325px;
  padding-top: 28px;
  position: relative;
  top: 225px;
  left: 31%;
  border-radius: 5px;
  box-shadow: 15px 20px 25px rgba(0, 0, 0, 0.16),
    15px 20px 25px rgba(0, 0, 0, 0.23);
}

.login-register-body-reg {
  background: rgba(255, 255, 255, 0.884);
  width: 40%;
  height: 450px;
  padding-top: 32px;
  position: relative;
  top: 175px;
  left: 31%;
  border-radius: 5px;
  box-shadow: 15px 20px 25px rgba(0, 0, 0, 0.16),
    15px 20px 25px rgba(0, 0, 0, 0.23);
}

.authForm {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 8% auto;
}

.login-reg-input {
  width: 80%;
  height: 38px;
  outline: none;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  font-size: 18px;
  text-indent: 10px;
}

.login-logo {
  position: relative;
  left: 46px;
}

.login-reg-buttons {
  border: none;
  width: 200px;
  padding: 5px 10px;
  background: lightgreen;
  margin: 5px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
}

.login-reg-buttons a {
  color: darkslategrey;
}

/* DASHBOARD */

.header {
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 1;
  background: white;
}

#nav-bar {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  font-size: 17px;
  padding-right: 50px;
  position: relative;
  top: 55%;
  background: white;
}

.header span {
  font-size: 15px;
  color: darkslategrey;
}

.name-logo {
  position: relative;
  right: 265%;
  color: darkslategrey;
  font-size: 30px;
  letter-spacing: 1px;
}

.fake-logo {
  border: none;
  background: rgba(108, 213, 108, 1);
  height: 50px;
  width: 50px;
  border-radius: 75%;
  position: relative;
  right: 66%;
  bottom: 17px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.main {
  min-height: 1430px;
  width: 100%;
  height: 100%;
}

.dashboard-header {
  height: 645px;
  margin: 0 7%;
  background-image: url("https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  position: relative;
  top: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.welcome-header {
  font-size: 90px;
  position: relative;
  width: 80%;
  top: 22%;
  left: 9%;
  color: darkslategrey;
  text-shadow: 1px 1px grey;
}

.add-goal-button {
  width: 30%;
  height: 25%;
  position: relative;
  top: 25%;
  left: 17%;
  font-size: 30px;
  border: none;
  background: darkslategrey;
  color: rgb(197, 244, 197);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.add-goal-button:active {
  outline: none;
}

.add-goal-button:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: darkslategrey;
  background: rgba(108, 213, 108, 1);
}

.motivation-quote {
  font-size: 17px;
  width: 29%;
  position: relative;
  left: 60%;
  bottom: 7%;
  text-align: right;
  font-style: italic;
  color: darkslategrey;
}

.lets-make-progress {
  padding-top: 50px;
  font-size: 40px;
  text-align: center;
}

.contact-area {
  position: fixed;
  z-index: 2147483003;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: darkslategrey;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0 5px 10px rgba(0, 0, 0, 0.23);
}

.contact-icon {
  position: relative;
  color: white;
  left: 22px;
  top: 22px;
}

#goalGrid {
  width: 75%;
  margin: 0 5% 5% 14%;
  display: flex;
  flex-wrap: wrap;
}
.ant-card {
  height: 260px;
  width: 31%;
  margin: 1%;
  background: rgba(108, 213, 108, 1);
  color: black;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
}

a.goalCard:link,
a.goalCard:visited,
a.goalCard:hover,
a.goalCard:active {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 20px;
  height: 70px;
}

.dashboard-footer {
  height: 85px;
}

/* GOAL PAGE */

#goalHeader {
  display: flex;
  justify-content: space-between;
  margin: 2.5% 10%;
  width: 80%;
}

#entryContainer {
  display: inline-flex;
  width: 80%;
  margin: 0 10% 2.5%;
  align-items: center;
}

#entries {
  display: inline-flex;
  overflow-x: scroll;
  width: 80%;
  margin: 0 10% 2.5%;
  align-items: center;
}

.entryIcons {
  display: flex;
  justify-content: space-around;
}

.inputEntryCard {
  width: 40%;
}

.inputTaskCard {
  width: 35%;
}

.override.entryCard {
  min-width: 20%;
}

.addEntryButton {
  position: relative;
  left: 85%;
  top: 20px;
  z-index: 1;
}

#goalFooterContent {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 2.5% 10% 2.5%;
  justify-content: center;
}

#accordianContainer {
  width: 100%;
  height: 270px;
  overflow-y: scroll;
  /* margin: 5% 10%; */
}

.checkboxGroup {
  display: flex;
  flex-flow: column;
}
.onboarding-container {
  width: 100%;
  height: 100%;
}

.onboarding-nav-bar {
  width: 100%;
  height: 65px;
  background: grey;
  margin: 0 auto;
}

.onboarding-body {
  width: 80%;
  margin: 0 auto;
}
